<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

   <h4> <a href="../HOME.HTML">HOME</a></h4>
    <center>
        <h1><u>HTML</u></h1><br>
        <p>
            <img src="./hqdefault.jpg" width="500px" alt="">
            <img src="./415498626.jpg" width="500px" alt="">
            <img src="./463376515-5804f6585f9b5805c2cc5fad.jpg" width="500px" alt="">
        </p>
    </center>
</body>
</html>