<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="layout.css">
</head>

<body>
    <HEAder>

        <img id="jk" src="./jk-removebg-preview.png" width="100px" alt="">

        <h4>
            <h4><a href="./HOME.HTML">HOME</a></h4>
            <h4> <a href="./html/html.html">HTML</a></h4>
            <h4><a href="./css/css.html">CSS</a></h4>
            <h4><a href="./js/js.html">JS</a></h4>
        </h4>
    </HEAder>
    <div id="jk4">
    <p>
        <img src="./222783934_350174776548525_4770755597780575097_n-removebg-preview.png" width="400px" alt="">
    </p>
</div>
    <DIv class="container">
        <img src="../LAYOUT/web.jpg" width="100%" alt="">
        <p>
            <img src="./html/415498626.jpg" width="30%" alt="">
            <img src="./css/OIP (1).jpg" width="30%" alt="">
            <img src="./js/download (2).jpg" width="30%" alt="">
             <h4 id="khan">(HTML) (CSS) (JV)</h4>
        </p>
        <div class="box">

            <P>

            <ul>
                <li>(HTML) HYPER TEXT MARKUP LANG</li>
                <LI>(CSS) CASCADING STYLE SHEET</LI>
                <LI>(JV) JAVASCRIPT</LI>
            </ul>
            <img id="jun" src="./OIP (3).jpg" width="100px" alt="">
            </P>
        </div>


    </DIv>
</body>

</html>