h1{
  width: 40%;
  padding-bottom: 20px;
  font-size: 3em;
  border-bottom: 3px solid black;
  font-weight: 100;
  font-family: monospace;
}
span{
    font-weight: 100;
}



   
.container{
    width: 60%;
    background-color: aqua;
    margin: 2px auto;
    padding: 20px;
    
}
p{
    padding: 20px;
}